name: Manifests Addons Images Save Arm64

on:
  workflow_dispatch:
    inputs:
      RELEASE_VERSION:
        description: 'The version of release'
        type: string
        required: true
        default: ''
      ENABLE_ADDONS:
        description: 'Enable save addon images (e.g. clickhouse|elasticsearch|kafka|mongodb|mysql|oceanbase|postgresql|qdrant|rabbitmq|redis|starrocks|zookeeper|damengdb|kingbase)'
        type: string
        required: true
        default: ''
  workflow_call:
    inputs:
      RELEASE_VERSION:
        description: 'The version of release'
        type: string
        required: true
        default: ''
      ENABLE_ADDONS:
        description: 'Enable save addon images (e.g. clickhouse|elasticsearch|kafka|mongodb|mysql|oceanbase|postgresql|qdrant|rabbitmq|redis|starrocks|zookeeper|damengdb|kingbase)'
        type: string
        required: true
        default: ''


run-name: save addons images ${{ inputs.RELEASE_VERSION }} ${{ inputs.ENABLE_ADDONS }}

env:
  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  OSS_KEY_ID: ${{ secrets.OSS_KEY_ID }}
  OSS_KEY_SECRET: ${{ secrets.OSS_KEY_SECRET }}
  OSS_ENDPOINT: "oss-cn-zhangjiakou.aliyuncs.com"
  OSS_BUCKET: "kubeblocks-oss"
  MANIFESTS_FILE: "apecloud/manifests/deploy-manifests.yaml"
  DOCKER_REGISTRY_URL: docker.io
  DOCKER_USER: ${{ secrets.DOCKER_REGISTRY_USER }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

jobs:
  save-images:
    runs-on: ubuntu-22.04
    outputs:
      release-versions: ${{ steps.manifests-images-save.outputs.release-versions }}
      image-name: ${{ steps.get-version.outputs.image-name }}
    steps:
      - name: Free disk space
        run: |
          echo "Free space first:"
          df -h
          
          mnt_storage=$(df -h | (grep "/mnt" | grep "100%" ||true))
          if [[ -n "${mnt_storage}" ]]; then
            echo "Disk is full, please rerun the workflow."
            exit 1
          fi
          
          sudo mkdir -p /mnt/new-storage
          sudo touch /etc/docker/daemon.json
          sudo tee /etc/docker/daemon.json <<EOF
          {
            "data-root": "/mnt/new-storage"
          }
          EOF
          sudo systemctl restart docker
          echo "Free space second:"
          df -h
      
      - name: get version
        id: get-version
        run: |
          RELEASE_VERSION="${{ inputs.RELEASE_VERSION }}"
          if [[ "${RELEASE_VERSION}" != "v"* ]]; then
              RELEASE_VERSION="v${RELEASE_VERSION}"
          fi
          echo "release-version=${RELEASE_VERSION}" >> $GITHUB_OUTPUT
          
          IMAGE_NAME="${{ inputs.ENABLE_ADDONS }}"
          echo "image-name=${IMAGE_NAME}" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v4
      - name: Checkout apecloud Code
        uses: actions/checkout@v4
        with:
          repository: apecloud/apecloud
          path: apecloud
          token: ${{ env.GITHUB_TOKEN }}
          ref: ${{ steps.get-version.outputs.release-version }}

      - uses: docker/setup-qemu-action@v3
      - if: ${{ env.DOCKER_USER != '' && env.DOCKER_PASSWORD != '' && (inputs.ENABLE_ADDONS == 'damengdb' || inputs.ENABLE_ADDONS == 'goldendb' || inputs.ENABLE_ADDONS == 'oceanbase' || inputs.ENABLE_ADDONS == 'hadoop' || inputs.ENABLE_ADDONS == 'hive' || inputs.ENABLE_ADDONS == 'kubeblocks-enterprise' || inputs.ENABLE_ADDONS == 'ape-local-csi-driver' || inputs.ENABLE_ADDONS == '') }}
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ${{ env.DOCKER_REGISTRY_URL }}
          username: ${{ env.DOCKER_USER }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: manifests images save
        id: manifests-images-save
        run: |
          MANIFESTS_FILE="${{ env.MANIFESTS_FILE }}"
          IMAGE_NAME="${{ steps.get-version.outputs.image-name }}"
          
          echo "save addons manifests images"
          bash .github/scripts/manifests_addons_images_save.sh "${MANIFESTS_FILE}" "${IMAGE_NAME}" "true"
          
          echo "Free space:"
          df -h
          
          RELEASE_VERSIONS=$(yq e '[.'${IMAGE_NAME}'[].version] | join("|")' ${MANIFESTS_FILE})
          echo "release-versions=${RELEASE_VERSIONS}" >> $GITHUB_OUTPUT

      - uses: manyuanrong/setup-ossutil@v2.0
        with:
          access-key-id: "${{ env.OSS_KEY_ID }}"
          access-key-secret: "${{ env.OSS_KEY_SECRET }}"
          endpoint: "${{ env.OSS_ENDPOINT }}"

      - name: get images size
        run: |
          docker images
          RELEASE_VERSIONS="${{ steps.manifests-images-save.outputs.release-versions }}"
          IMAGE_NAME="${{ steps.get-version.outputs.image-name }}"
          for release_version in $(echo "${RELEASE_VERSIONS}" | sed 's/|/ /g'); do
              du -sh ${IMAGE_NAME}-images-${release_version}.tar.gz 
          done

      - name: Upload arm64 images to oss
        id: upload_to_oss
        run: |
          RELEASE_VERSIONS="${{ steps.manifests-images-save.outputs.release-versions }}"
          IMAGE_NAME="${{ steps.get-version.outputs.image-name }}"
          for release_version in $(echo "${RELEASE_VERSIONS}" | sed 's/|/ /g'); do
              IMAGE_PKG_NAME="${IMAGE_NAME}-images-${release_version}.tar.gz"
              
              upload_ret=0
              for i in {1..10}; do
                  echo "ossutil cp ${IMAGE_PKG_NAME} to oss://${{ env.OSS_BUCKET }}/images/arm64/${IMAGE_PKG_NAME} ..."
                  ossutil cp -rf ./${IMAGE_PKG_NAME} oss://${{ env.OSS_BUCKET }}/images/arm64/${IMAGE_PKG_NAME}
                  upload_ret=$?
              
                  if [[ -d "ossutil_output" ]]; then
                      ossutil_report_files=$(ls ossutil_output)
                      if [[ -n "${ossutil_report_files}" ]]; then
                          ossutil_report_file_name="$(ls ossutil_output/ossutil_report_*.report)"
                          if [[ -n "${ossutil_report_file_name}" && -f "${ossutil_report_file_name}" ]]; then
                              echo "cp ${IMAGE_PKG_NAME} to oss error, retry..."
                              cat "${ossutil_report_file_name}"
                              rm -rf ossutil_output/ossutil_report_*.report
                              upload_ret=1
                          fi
                      fi
                  fi
                  if [[ $upload_ret -eq 0 ]]; then
                      break
                  fi
                  sleep 1
              done
              
              if [[ $upload_ret -eq 0 ]]; then
                  echo "upload ${IMAGE_PKG_NAME} to oss successfully"
              else
                  exit 1
              fi
              
              IMAGE_PKG_NAME_MD="${IMAGE_PKG_NAME}.md5"
              echo "upload ${IMAGE_PKG_NAME_MD} to oss ..."
              upload_ret=0
              for i in {1..10}; do
                  md5sum ${IMAGE_PKG_NAME} > ${IMAGE_PKG_NAME_MD}
                  md5sum_check=$(md5sum -c ${IMAGE_PKG_NAME_MD})
                  check_ret=$?
                  if [[ $check_ret -eq 0 && "${md5sum_check}" == *"OK" ]]; then
                      echo "${md5sum_check}"
                  else
                      sleep 1
                      continue
                  fi
              
                  echo "ossutil cp ${IMAGE_PKG_NAME_MD} to oss://${{ env.OSS_BUCKET }}/images/arm64/${IMAGE_PKG_NAME_MD} ..."
                  ossutil cp -rf ./${IMAGE_PKG_NAME_MD} oss://${{ env.OSS_BUCKET }}/images/arm64/${IMAGE_PKG_NAME_MD}
                  upload_ret=$?
              
                  if [[ -d "ossutil_output" ]]; then
                      ossutil_report_files=$(ls ossutil_output)
                      if [[ -n "${ossutil_report_files}" ]]; then
                          ossutil_report_file_name="$(ls ossutil_output/ossutil_report_*.report)"
                          if [[ -n "${ossutil_report_file_name}" && -f "${ossutil_report_file_name}" ]]; then
                              echo "cp ${IMAGE_PKG_NAME_MD} to oss error, retry..."
                              cat "${ossutil_report_file_name}"
                              rm -rf ossutil_output/ossutil_report_*.report
                              upload_ret=1
                          fi
                      fi
                  fi
                  if [[ $upload_ret -eq 0 ]]; then
                      break
                  fi
                  sleep 1
              done
              
              if [[ $upload_ret -eq 0 ]]; then
                  echo "upload ${IMAGE_PKG_NAME_MD} to oss successfully"
              fi
          done

  save-result:
    runs-on: ubuntu-latest
    needs: [ save-images ]
    if: ${{ always() }}
    outputs:
      save-result: ${{ steps.get_save_result.outputs.save_result }}
      image-pkg-name: ${{ steps.get_save_result.outputs.image_pkg_name }}
      image-pkg-name-1: ${{ steps.get_save_result.outputs.image_pkg_name_1 }}
      image-pkg-name-2: ${{ steps.get_save_result.outputs.image_pkg_name_2 }}
      image-pkg-name-3: ${{ steps.get_save_result.outputs.image_pkg_name_3 }}
    steps:
      - name: get save result
        id: get_save_result
        run: |
          SAVE_RESULT="error"
          version_index=0
          IMAGE_NAME=${{ needs.save-images.outputs.image-name }}
          RELEASE_VERSIONS="${{ needs.save-images.outputs.release-versions }}"
          for release_version in $(echo "${RELEASE_VERSIONS}" | sed 's/|/ /g'); do
              IMAGE_PKG_NAME="${IMAGE_NAME}-images-${release_version}.tar.gz"
              IMAGE_PKG_NAME="http://kubeblocks-oss.${{ env.OSS_ENDPOINT }}/images/arm64/${IMAGE_PKG_NAME}"
              echo "IMAGE_PKG_NAME: ${IMAGE_PKG_NAME}"
              case $version_index in
                  0)
                      echo 'image_pkg_name='${IMAGE_PKG_NAME} >> $GITHUB_OUTPUT
                  ;;
                  1)
                      echo 'image_pkg_name_1='${IMAGE_PKG_NAME} >> $GITHUB_OUTPUT
                  ;;
                  2)
                      echo 'image_pkg_name_2='${IMAGE_PKG_NAME} >> $GITHUB_OUTPUT
                  ;;
                  3)
                      echo 'image_pkg_name_3='${IMAGE_PKG_NAME} >> $GITHUB_OUTPUT
                  ;;
              esac
              version_index=$(( $version_index + 1 ))
          done
          
          if [[ "${{ needs.save-images.result }}" == "success" ]]; then
              SAVE_RESULT="success"
          fi
          echo 'save_result='$SAVE_RESULT >> $GITHUB_OUTPUT

  send-message:
    permissions:
      id-token: write
      contents: read
    needs: [ save-result ]
    if: ${{ always() }}
    uses: apecloud-inc/apecloud-cd/.github/workflows/feishui-message.yml@v0.1.0
    with:
      TYPE: "2"
      BOT_TYPE: "package"
      CONTENT: "save image ${{ needs.save-result.outputs.image-pkg-name }} ${{ needs.save-result.outputs.save-result }}"
    secrets: inherit

  send-message-1:
    permissions:
      id-token: write
      contents: read
    needs: [ save-result ]
    if: ${{ always() && needs.save-result.outputs.image-pkg-name-1 != '' }}
    uses: apecloud-inc/apecloud-cd/.github/workflows/feishui-message.yml@v0.1.0
    with:
      TYPE: "2"
      BOT_TYPE: "package"
      CONTENT: "save image ${{ needs.save-result.outputs.image-pkg-name-1 }} ${{ needs.save-result.outputs.save-result }}"
    secrets: inherit

  send-message-2:
    permissions:
      id-token: write
      contents: read
    needs: [ save-result ]
    if: ${{ always() && needs.save-result.outputs.image-pkg-name-2 != '' }}
    uses: apecloud-inc/apecloud-cd/.github/workflows/feishui-message.yml@v0.1.0
    with:
      TYPE: "2"
      BOT_TYPE: "package"
      CONTENT: "save image ${{ needs.save-result.outputs.image-pkg-name-2 }} ${{ needs.save-result.outputs.save-result }}"
    secrets: inherit

  send-message-3:
    permissions:
      id-token: write
      contents: read
    needs: [ save-result ]
    if: ${{ always() && needs.save-result.outputs.image-pkg-name-3 != '' }}
    uses: apecloud-inc/apecloud-cd/.github/workflows/feishui-message.yml@v0.1.0
    with:
      TYPE: "2"
      BOT_TYPE: "package"
      CONTENT: "save image ${{ needs.save-result.outputs.image-pkg-name-3 }} ${{ needs.save-result.outputs.save-result }}"
    secrets: inherit
